---
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/Sectionhead.astro";
import Container from "@components/container.astro";
import Button from "@components/ui/Button.astro";
import Cta from "@components/Cta.astro";

import localImage from "@assets/Mitfliedschaft.jpg";
import personalTemplate from "../../public/Barenherz_Antrag_personliche_Mitgliedschaft_Template_CH.pdf"; // txtReference === '/src/words.txt'
import businessTemplate from "../../public/Barenherz_Antrag_Unternehmensmitgliedschaft_Template_CH.pdf"; // txtReference === '/src/words.txt'
const localAlt = "Mitgliedschaft";
import ctaImage from "@assets/cta.jpg";
import Newsletter from "@components/Newsletter";
const ctaAlt = "test";
const ctaLink = "Jetzt spenden";
---

<Layout title="Mitgliedschaft">
  <Sectionhead
    class="items-center text-center"
    altHead={localAlt}
    imageHead={localImage}
  >
    <Fragment slot="title" class="uppercase">Mitgliedschaft</Fragment>
    <Fragment slot="content">
      Gemeinsam dort helfen, wo Hilfe gebraucht wird.
    </Fragment>
  </Sectionhead>

  <Container>
    <section class="py-10 md:px-14 xl:mx-auto xl:my-6 xl:w-3/4">
      <article class="py-6">
        <h2 class="py-4 text-2xl font-bold">Mitgliedschaft</h2>
        <p class="text-lg leading-7">
          Eine Mitgliedschaft bei Bärenherz hilft uns, unsere administrativen
          Kosten und Aufgaben zu erfüllen. Ein wesentlicher Teil unserer
          Philosophie ist es, dass alle Einnahmen aus unseren Aktivitäten zu
          100% in die jeweils geförderten Projekte fliessen. Sämtliche
          administrativen Kosten wie z.B. Pflege der Homepage werden
          ehrenamtlich übernommen bzw.von Mitgliedsbeiträgen oder Zuwendungen
          der Mitglieder getragen. Auch freuen wir uns natürlich, uns mit
          unseren Mitgliedern auszutauschen, Ideen aufzunehmen und uns gemeinsam
          zu engagieren. Wir bieten sowohl eine persönliche Mitgliedschaft wie
          auch eine Unternehmensmitgliedschaft für alle an, die die Philosophie
          und Projekte unseres karitativen Vereins unterstützen wollen.
          Nachfolgend können Sie die Mitgliedschaft einfach online beantragen,
          der Vorstand entscheidet dann umgehend über die Aufnahme.
        </p>
      </article>

      <!-- boxes -->
      <article
        class="flex flex-col gap-4 md:my-4 md:flex-row md:justify-center md:gap-10"
      >
        <div
          class="flex flex-col justify-center gap-5 bg-[#84b9e4] p-8 text-center align-middle"
        >
          <h3 class="" font-bold>Persönliche Mitgliedschaft</h3>
          <p>Jahresbeitrag CHF 250.00</p>
          <a href={personalTemplate} download>
            <Button style="inverted" size="md" class="m-auto">
              Persönliches Mitglied werden
            </Button>
          </a>
        </div>
        <div
          class="flex flex-col justify-center gap-5 bg-[#84b9e4] p-8 text-center align-middle"
        >
          <h3 class="" font-bold>Unternehmensmitgliedschaft</h3>
          <p>Jahresbeitrag CHF 1'000.00</p>

          <a href={businessTemplate} download>
            <Button style="inverted" size="md" class="m-auto">
              Unternehmensmitglied werden
            </Button>
          </a>
        </div>
      </article>
      <!-- end Boxes -->

      <p class="mt-10 text-lg leading-7">
        Der Jahresbeitrag ist jeweils für das Kalenderjahr geschuldet. Bitte
        füllen Sie das verknüpfte Antragsformular aus und reichen Sie dieses ein
        an info@baerenherz.org oder per Post an Bärenherz – Verein für
        humanitäre Hilfe, c/o Rainer Mück, Untersellenstrasse 37, 8873 Amden.
        Der Vorstand entscheidet über die Aufnahme neuer Vereinsmitglieder.
      </p>

      <h2 class="mt-10 py-4 text-2xl font-bold">Eventpartner</h2>

      <p class="text-lg leading-7">
        Als Eventpartner helfen Sie uns, die jeweiligen Events so kostengünstig
        wie möglich durchzuführen. Bei allen Events arbeiten wir kostendeckend
        durch die jeweilige Teilnehmergebühr. Sämtliche Überschüsse der Events
        fliessen vollständig in die jeweils unterstützten Projekte. Als
        Eventpartner helfen Sie uns, die Unterstützung der Projekte zu erhöhen
        und haben die Möglichkeit, Sich und Ihr Unternehmen in unserem
        Teilnehmerkreis und in den Ankündigungen/Programmen zu präsentieren. Wir
        bieten Ihnen folgende Möglichkeiten an:
        <ul class="mt-7 text-lg leading-7">
          <li><b>Platin Partner:</b></li>
          <li>
            - Nennung des Partners in der gesamten Kommunikation und auf dem
            Event
          </li>
          <li>
            - Verteilung von Unternehmensbroschüren und Werbemittel am Event
          </li>
          <li>- 2 Teilnehmer am Event</li>
          <li>- Exklusiver Namenssponsor des Events</li>
          <br />
          <li><b>Gold Partner:</b></li>
          <li>
            - Nennung des Partners in der gesamten Kommunikation und auf dem
            Event
          </li>
          <li>
            - Verteilung von Unternehmensbroschüren und Werbemittel am Event
          </li>
          <li>- 1 Teilnehmer am Event</li>
          <br />
          <li><b>Business Partner:</b></li>
          <li>
            - Nennung des Partners in der gesamten Kommunikation und auf dem
            Event
          </li>
          <li>
            - Verteilung von Unternehmensbroschüren und Werbemittel am Event
          </li>
        </ul>
      </p>
      <p class="mt-7 text-lg leading-7">
        Bitte sprechen Sie uns an, wenn Sie uns an einem unserer Events
        unterstützen wollen.
      </p>

      <div class="py-10">
        <Newsletter />
      </div>
      <!-- 
      <div class="py-10">
        <Cta ctaImage={ctaImage} ctaAlt={ctaAlt} ctaLink={ctaLink}>
          <Fragment slot="content1">
            „Mit meiner Mitgliedschaft kann ich die großartige Arbeit von
            Bärenherz unterstützen und habe das gute Gefühl eine Hilfe zu
            leisten, die auch zu 100% dort ankommt, wo sie auch dringend
            gebraucht wird.“
          </Fragment>
          <Fragment slot="content2">Natascha Heye</Fragment>
          <Fragment slot="content3">Unternehmerin, Zürich</Fragment>
        </Cta>
      </div>
       -->
    </section>
  </Container>
</Layout>
