---
export function get({ redirect }) {
  return redirect('/ch/');
}
import Layout from '../layouts/Layout.astro'
import Container from '@components/container.astro'
import Carousel from '@components/carousel/Carousel.jsx'
import MainTextHome from '@components/MainTextHome.astro'
// import Cta from '@components/Cta.astro'
import Aktuelles from '@components/Aktuelles.astro'
import Newsletter from '@components/Newsletter.jsx'
import BaerenherzVideo from "@assets/Baerenherz_Video.mp4";
import BaerenherzCover from "@assets/Video_Cover.png";


// import ctaImage from '@assets/cta.jpg'
const ctaAlt = 'Spenden'
const ctaLink = 'Jetzt spenden'
---

<Layout title="Baerenherz - Verein für humanitäre Hilfe">
  <Container>
    <div class="p-0">
      <Carousel client:only="react" />
    </div>

    <MainTextHome />
  </Container>
  <!--   
  <Cta ctaImage={ctaImage} ctaAlt={ctaAlt} ctaLink={ctaLink}>
    <Fragment slot="content1">
      „Mit meiner Mitgliedschaft kann ich die großartige Arbeit von Bärenherz
      unterstützen und habe das gute Gefühl eine Hilfe zu leisten, die auch zu
      100% dort ankommt, wo sie auch dringend gebraucht wird.“
    </Fragment>
    <Fragment slot="content2">Natascha Heye</Fragment>
    <Fragment slot="content3">Unternehmerin, Zürich</Fragment>
  </Cta> 
-->


<div style="display: flex; justify-content: center; align-items: center; ">
  <video controls poster={BaerenherzCover.src} style="width: 50%; height: auto; border-radius: 8px;">
    <source src={BaerenherzVideo} type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>

  <Aktuelles />
  <Newsletter client:idle />
</Layout>
