---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/Sectionhead.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/Link.astro";

import Hope from "@assets/hope.png";
import localImage from "@assets/baby-2.jpeg";
// import galleryGrid1 from '@assets/alles-gesund.jpg'
// import galleryGrid3 from '@assets/baby-bed.jpg'
// import galleryGrid2 from '@assets/nicu.jpg'
// import galleryGrid4 from '@assets/mother-vera.jpg'
import galleryFlex1 from "@assets/FullSizeRender.jpg";
import galleryFlex2 from "@assets/IMG_1163.jpg";
import galleryFlex3 from "@assets/Unknown.jpeg";
import galleryFlex4 from "@assets/Unknown-2.jpeg";
const localAlt = "Mitgliedschaft";
---

<Layout title="Mitgliedschaft">
  <Sectionhead
    class="items-center text-center"
    altHead={localAlt}
    imageHead={localImage}
  >
    <Fragment slot="title" class="uppercase">Projekte</Fragment>
    <Fragment slot="content">
      Hilfe für die Schwächsten. Direkt und lebensrettend.
    </Fragment>
  </Sectionhead>

  <Container>
    <section class="py-10 md:px-14 xl:mx-auto xl:my-6 xl:w-3/4">
      <article class="py-6">
        <h2 class="py-4 text-2xl font-bold">Projekte 2025</h2>
        <div class="text-lg leading-7">
          <p>
            Durch die sehr gute Zusammenarbeit mit Project Hope vor Ort und dem
            aktuellen Gesundheitsminister haben wir uns entschieden, auch 2025
            die gesundheitliche Versorgung von Mutter und Kind in Nordmazedonien
            weiter zu verbessern. Die herausfordernde Situation in
            Nordmazedonien (ca. 50% der Bevölkerung lebt in und um Skopje) führt
            dazu, dass die medizintechnische Ausstattung in den kleineren
            Krankenhäusern im Land nach wie vor sehr schlecht ist und viele
            Bürger versuchen, nach Skopje zu kommen, was die Situation weiter
            verschlechtert. Wir werden allerdings auch zukünftig nur dort
            unterstützen, wo auch die zuständigen Behörden ihren Beitrag
            leisten. Das ist beispielsweise in Strumica immer noch nicht
            passiert. Aktuell liegen Project Hope 4 Anträge zur Unterstützung
            verschiedener Einrichtungen vor, die in den nächsten Wochen
            evaluiert werden. Anfang 2025 werden auch wir uns ein Bild vor Ort
            machen und dann konkret entscheiden, welches Projekt von Bärenherz
            unterstützt wird. Bisher ist es Projekt Hope – auch mit der
            Unterstützung von Bärenherz – gelungen, in den beteiligten Kliniken
            in Nordmazedonien die Sterblichkeit von Frühchen um 2/3 zu senken.
            Das ist auch für uns weiterhin Motivation, uns hier zu engagieren.
          </p>
        </div>
      </article>

      <article class="py-6">
        <h2 class="py-4 text-2xl font-bold">Projekte 2024</h2>
        <div class="text-lg leading-7">
          <p>
            Nachdem wir für 2024 eigentlich entschieden hatten, das Projekt in
            Strumica zu unterstützen, um die notwendigste medizinische
            Versorgung in der Geburtenstation sicherzustellen, mussten wir
            feststellen, dass man es dort immer noch nicht geschafft hat, in das
            neue Krankenhaus umzuziehen. Vor diesem Hintergrund haben wir uns
            dem Krankenhaus in Bitola zugewendet, das wir schon bei einem
            früheren Besuch besichtigt hatten. Mit der Unterstützung von Project
            HOPE haben wir medizinische Geräte im Wert von 85'000 Euro
            übergeben, die auch schon im Einsatz sind, um Neugeborenen und Ihren
            Müttern einen besseren Start ins Leben zu ermöglichen. Trotz aller
            Widrigkeiten, die es immer wieder gibt, ist es am Ende ein gutes
            Gefühl zu sehen, das unsere Hilfe ankommt. Beeindruckend auch der
            Einsatz und die Dankbarkeit der Verantwortlichen im Krankenhaus.
            Davon konnten wir uns beim Besuch vor Ort im April persönlich ein
            Bild machen.
          </p>
        </div>
      </article>
      <article class="py-6">
        <h2 class="py-4 text-2xl font-bold">Projekte 2023</h2>
        <div class="text-lg leading-7">
          <p>
            Für 2023 haben wir uns entschieden, weiterhin Project HOPE e.V. mit
            dem Engament in Nordmazedonien zu unterstützen. Bei unserem Besuch
            im Frühjahr 2023 mussten wir uns von den verheerenden Zuständen in
            Strumica überzeugen. Hier fehlt es an der nötigsten medizinischen
            Ausstattung insbesondere in der Geburtenstation.
          </p>
          <p>
            Daher gingen auch die Geburten dort in den letzten Jahren
            kontinuierlich zurück. Die Tatsache, dass ein neues Krankenhaus
            fertiggestellt ist, hilft leider nicht vollkommen, da inzwischen das
            Geld ausgegangen ist und man es trotz Fertigstellung noch nicht
            geschafft hat, in dieses Krankenhaus überzusiedeln. Für die
            medizinische Ausstattung fehlen sämtliche Mittel. Die Situation
            zeigt aber auch, wie wichtig es ist, wirklich vor Ort
            sicherzustellen, dass die Mittel zielgerichtet verwendet werden und
            das auch nachhaltig so bleibt. Dafür werden wir persönlich alles
            tun.
          </p>
        </div>
      </article>

      <!-- Check the time load of the images -->
      <div class="w-10/12">
        <div class="my-8 flex flex-col gap-1 justify-self-center md:flex-row">
          <Image
            src={galleryFlex1}
            alt="hope logo"
            class="md:h-36 md:w-fit lg:h-48"
          />
          <Image
            src={galleryFlex2}
            alt="hope logo"
            class="md:h-36 md:w-fit lg:h-48"
          />
          <Image
            src={galleryFlex3}
            alt="hope logo"
            class="md:h-36 md:w-fit lg:h-48"
          />
          <Image
            src={galleryFlex4}
            alt="hope logo"
            class="md:h-36 md:w-fit lg:h-48"
          />
        </div>
      </div>

      <article class="py-6">
        <h2 class="py-4 text-2xl font-bold">Projekte 2022</h2>

        <div class="text-lg leading-7">
          <p>
            Für 2022 haben wir uns entschieden, dass Projekt PeriMAC zu
            unterstützen. Hier geht es um eine Verbesserung der
            Gesundheitsvorsorge „rund um die Geburt“ in Nordmazedonien. Aus
            unserer persönlichen Erfahrungmy-8 bestehende Strukturen zugreifen,
            die sich über die Zeit bewährt haben und einen wirklich
            unglaublichen Beitrag zur Verbesserung des Gesundheitswesens in den
            ärmsten Ländern Europas geleistet haben.
          </p>
          <p>
            Project HOPE e.V.setzt sich seit 25 Jahren erfolgreich dafür ein,
            dass in Osteuropa mehr Neugeborene überleben. Dies geschieht mit
            Bereitstellung moderner Medizintechnik und durch kompetente
            Fortbildung von Ärzten und Pflegepersonal. Im aktuellen Projekt
            PeriMAC stehen 2 wesentliche Themen an, die Bärenherz in 2022 mit
            Ihrer Hilfe begleiten und unterstützen möchte:
          </p>
        </div>
        <!-- boxes -->
        <article
          class="my-4 flex flex-col justify-center gap-4 md:flex-row md:gap-10"
        >
          <div
            class="flex flex-col justify-start gap-5 bg-[#84b9e4] p-8 text-center align-middle md:w-1/2"
          >
            <h3 class="" font-bold>Medizintechnik</h3>
            <p>
              Auch im Jahr 2022 wird Project HOPE e.V. sein Engagement für das
              Land Nordmazedonien fortsetzen. Mit dem klaren Ziel, dort
              weiterhin die Säuglingssterblichkeit zu reduzieren, werden in
              Absprache mit dem Gesundheitsministerium des Landes weitere
              regionale Kliniken mit lebensrettenden Gerätschaften ausgestattet.
              Mit einem Betrag von CHF 25.000 können folgende lebensrettende
              Geräte für die Geburtsabteilungen der Kliniken in Štip und Bitola
              angeschafft werden: Inkubatoren, Beatmungsgeräte, Wärmebettchen.
              Als Referenz: · Inkubator: € 10.000 · Wärmebettchen: € 2.500 ·
              Beatmungsgerät: € 10.000
            </p>
          </div>
          <div
            class="flex flex-col justify-center gap-5 bg-[#84b9e4] p-8 text-center align-top md:w-1/2"
          >
            <h3 class="" font-bold>Fortbildung</h3>
            <p>
              Weil insbesondere die ersten kritischen 10 Minuten im Leben eines
              Neugeborenen gut bewältigt werden müssen, wird ein umfangreiches
              Ausbildungsprogramm mit dem Schwerpunkt auf diese neonatale
              Erstversorgung durchgeführt [NLS=Newborn Life Support].Project
              HOPE vertraut auf die ehrenamtliche Unterstützung der
              Universitätskliniken Amsterdam und Bonn. Für die Trainingsmodelle
              [z.B. „Premature Anne“ von Laerdal, s. Foto], für
              Schulungsmaterialien, Urkunden, Akkreditierung sowie
              Übersetzungen, benötigt Project HOPE einen Betrag in Höhe von CHF
              25.000. Mehr als 150 Ärzte und Pflegepersonal werden von dieser
              nachhaltigen Initiative profitieren. Sie schenken somit nicht nur
              vielen Neugeborenen einen sicheren Start ins Leben sondern leisten
              einen unermesslichen Beitrag zur Motivation / zum Engagement des
              medizinischen Personals.
            </p>
          </div>
        </article>
        <!-- end Boxes -->
        <article class="py-6">
          <div class="text-lg leading-7">
            <p>
              Wir werden uns im Verlauf des Jahres 2022 persönlich vor Ort von
              der aktuellen Situation überzeugen und hoffen, hier einen
              wertvollen Beitrag leisten zu können. Für weitere Informationen
              über das Projekt und die Arbeit von Project Hope e.V. stehen Ihnen
              die Informationen auf der Homepage zur Verfügung:
              <a
                href="https://www.projecthope.de/"
                target="_blank"
                rel="noreferrer"
                class="text-blue-500 underline">www.projecthope.de</a
              >
            </p>
          </div>
        </article>

        <!-- Imagenes -->
        <!--   f
        <div
          class="my-8 grid grid-rows-2 justify-items-center md:grid-flow-col">
          <Image src={galleryGrid1} alt="hope logo" />
          <Image src={galleryGrid2} alt="hope logo" />
          <Image src={galleryGrid3} alt="hope logo" />
          <Image src={galleryGrid4} alt="hope logo" />
        </div>
       -->

        <article class="py-6">
          <div class="flex flex-col gap-10 text-lg leading-7 md:flex-row">
            <div class="w-full md:w-2/3">
              <p>
                Inspiriert wurden die Gründer von Bärenherz durch ihre
                langjährige aktive Unterstützung von Project Hope e.V. in
                Deutschland zur Verbesserung der Lebensbedin gungen von Mutter
                und Kind in den ärmsten Ländern Europas. Diesem Thema fühlen wir
                uns in besonderer Weise verbunden und werden auch zukünftig
                versuchen, als verlässlicher Partner die Arbeit von Project Hope
                e.V. aktiv zu unterstützen.
              </p>
            </div>
            <div class="w-full md:w-1/3">
              <Image src={Hope} alt="hope logo" class="mb-6" />
              <a
                href="https://www.projecthope.de/"
                target="_blank"
                rel="noreferrer"
                class="text-blue-500 underline">www.projecthope.de</a
              >
            </div>
          </div>
        </article>
      </article>
      <article>
        <div class="flex flex-1 justify-center bg-[#84b9e4] align-middle">
          <div class="p-8 md:flex md:justify-center md:align-middle">
            <p
              class="max-w-xl text-lg font-extrabold italic leading-relaxed text-white md:flex-1 md:px-10 md:text-2xl"
            >
              Mit Ihrer Spende helfen Sie uns, Leben zu retten.
            </p>

            <div>
              <Link
                href="/spenden"
                class="mt-4 flex flex-1 items-center justify-center gap-1 text-lg md:mt-0"
                rel="noopener"
                style="inverted"
              >
                Jetzt Spenden
              </Link>
            </div>
          </div>
        </div>
      </article>
    </section>
  </Container>
</Layout>
