---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

type Props = CollectionEntry<'aktivitaeten'>['data']

const { title, cover, coverAlt } = Astro.props

import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Link from '@components/ui/Link.astro'

import partners from '@assets/logos/sponsoren2023.png'
---

<Layout title={title}>
  <Container class="mx-14 my-10">
    <div class="py-6">
      <Link href="/aktivitaeten">« Aktivitäten</Link>
    </div>
    <div class="">
      {cover && <Image width={1020} src={cover} alt={coverAlt} />}
    </div>

    <div class="my-8">
      <h1 class="py-4 text-3xl">{title}</h1>
      <div class="prose-xl lg:prose-xl">
        <slot />
      </div>
    </div>

    {/* Partners */}
    <!-- <div class="flex gap-10">
      <div class="flex-1">
        <h3 class="text-3xl font-bold">Unsere Partner:</h3>
      </div>
      <div class="flex-2">
        <Image src={partners} alt="random" />
      </div>
    </div> -->
  </Container>
</Layout>
