---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

type Props = CollectionEntry<'aktivitaeten-ch'>['data'] | CollectionEntry<'aktivitaeten-de'>['data'] & {
  children?: any
}

const { title, cover, coverAlt, link } = Astro.props

import Layout from '@layouts/Layout.astro'
import Link from '@components/ui/Link.astro'
---

<Layout title={title}>
  <article class="flex min-h-screen items-center justify-center bg-gray-100">
    <div class="m-6 rounded bg-white p-8 shadow-lg">
      <div class="py-6">
        <Link href="/aktivitaeten">« Aktivitäten</Link>
      </div>
      <div class="">
        {cover && <Image width={1020} src={cover} alt={coverAlt} />}
      </div>

      <div class="my-8">
        <h1 class="py-4 text-3xl">{title}</h1>

        <div class="max-width-80 prose max-w-prose lg:prose-xl">
          {
            link ? (
              <div class="my-5">
                <a
                  href={link}
                  class="my-3 p-2 text-2xl font-bold text-[#043c91bb] hover:text-[#033277] hover:no-underline hover:shadow-md active:text-[#0023a5]">
                  »Bildgalerie
                </a>
              </div>
            ) : null
          }

          <slot />
        </div>
      </div>
    </div>
  </article>
</Layout>
